<nav>
  <ul>
    <li><a routerLink="/show-student" routerLinkActive="active"><div class="nav-button">Show Students</div></a></li>
    <li><a routerLink="/add-student" routerLinkActive="active"><div class="nav-button">Add Students</div></a></li>
    <li><a routerLink="/update-student" routerLinkActive="active"><div class="nav-button">Update Students</div></a></li>
    <li><a routerLink="/delete-student" routerLinkActive="active"><div class="nav-button">Delete Students</div></a></li>
  </ul>
</nav>
<router-outlet></router-outlet>
